@charset "UTF-8";
:root {
  --color-alpha: red;
  --color-black: black;
  --color-grey: #d2d2d2;
}

.dropdown-transition {
  transform: translateY(-300%);
}

.item__dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.item__dropdown.expanded {
  max-height: 1000px; /* Ajusta según el tamaño máximo esperado */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  position: relative;
  width: 100vw;
  max-width: 600px;
  min-height: 100vh;
  padding: 0.5rem;
}

.inventory__header {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}
.inventory__header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/header-frame.png");
  background-size: 100% 100%, cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.inventory__header .inventory__header-inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inventory__header .inventory__header-top {
  padding: 0;
  z-index: 2;
  display: flex;
  flex-wrap: no-wrap;
  gap: 1rem;
  position: relative;
}
.inventory__header .inventory__header-top > select {
  flex: 1;
  border-bottom: solid 2px black;
}
.inventory__header .inventory__header-top .header__dropdown-btn {
  all: unset;
  position: relative;
  height: inherit;
  width: 3rem;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  color: #333;
}
.inventory__header .inventory__header-top .header__dropdown-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/settings.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.inventory__header .inventory__header-top .header__dropdown-list {
  z-index: -1;
  top: 100%;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: transform 1s 0s ease;
}

.inventory__header .inventory__header-bottom {
  display: flex;
  justify-content: space-between;
}
.inventory__header .inventory__header-bottom p input {
  all: unset;
  width: 3rem;
}

.header__bottom-weight {
  display: flex;
  align-items: center;
}
.header__bottom-weight img {
  height: 1.5rem;
  width: 1.5rem;
}

.inventory__header-wealth p,
.header__bottom-weight p {
  margin: 0;
}

.inventory__header .inventory__header-wealth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.inventory__header .inventory__header-wealth .addmoney {
  padding: 0 0.5rem;
  height: 2rem;
  border: solid 1px black;
}

.inventory__header .inventory__header-wealth .inventory__header-wealth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory__header .inventory__header-wealth .inventory__header-wealth-container img {
  height: 1.5rem;
  width: auto;
}

.inventory__header-wealth-container:nth-of-type(1) input {
  width: clamp(3rem, 0.75rem + 10vw, 4.5rem);
}
.inventory__header-wealth-container input {
  all: unset;
  width: clamp(1.5rem, -2.5rem + 17.778vw, 2.5rem);
}

.category__container {
  border-radius: 0.5rem;
  overflow: hidden;
}

.category__bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 clamp(2rem, 0.5rem + 6.667vw, 3rem);
  height: 3rem;
}
.category__bar::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-image: url("./src/assets/category-frame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.category__bar h2 {
  margin: 0;
}

.item__table {
  background-color: red;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}

.item__description {
  text-align: left;
}

.modal {
  position: absolute;
  background-color: #3288c5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p,
input[type=number] {
  font-size: clamp(1rem, -3rem + 17.778vw, 2rem);
}

.select-name {
  all: unset;
  font-size: 3rem;
}
.select-name option {
  font-size: 3rem;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-black);
  background-image: url("./assets/stone-gb4.jpg");
  background-size: cover;
}