.inventory__header {
  width: 100%;
  height: auto;
  background-color: red;
}

.inventory__header .inventory__header-top {
  z-index: 2;
  display: flex;
  flex-wrap: no-wrap;
  position: relative;
  height: 3rem;
}
.inventory__header .inventory__header-top > select {
  flex: 1;
}
.inventory__header .inventory__header-top .header__dropdown-btn {
  width: 100px;
  background-color: black;
  color: #333;
}
.inventory__header .inventory__header-top .header__dropdown-list {
  z-index: -1;
  top: 100%;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.inventory__header .inventory__header-bottom {
  display: flex;
}

.inventory__header .inventory__header-wealth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory__header .inventory__header-wealth .inventory__header-wealth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory__header .inventory__header-wealth .inventory__header-wealth-container img {
  height: 20px;
  width: auto;
}

.inventory__header .inventory__header-wealth .inventory__header-wealth-container input {
  width: 30px;
}

body {
  margin: 0;
  background-color: #333;
  color: rgb(255, 255, 255);
}

.frame {
  width: 100vw;
  max-width: 600px;
}

body {
  margin: 0;
}