@use "mixins" as *;

#root{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame{
    position: relative;
    width: 100vw;
    max-width: 600px;
    min-height: 100vh;
    padding: .5rem;


    @include device(xxlarge){
        padding: 1rem 2rem;
    }

}

.overlay{
    
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.518);
        z-index: 2;
    }
}

