.inventory__header {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;


  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("./assets/header-frame.png");
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .inventory__header-inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.inventory__header-top,
.inventory__header-bottom {
  // padding: 0.5rem 1rem;
}
.inventory__header .inventory__header-top {
  padding: 0;
  z-index: 2;
  display: flex;
  flex-wrap: no-wrap;
  gap: 1rem;
  // align-items: space-between;
  position: relative;
  // height: 3rem;

  & > select {
    flex: 1;
    border-bottom: solid 2px black;
  }
  .header__dropdown-btn {
    all: unset;
    position: relative;
    height: inherit;
    width: 3rem;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #333;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("./assets/settings.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .header__dropdown-list {
    z-index: -1;
    top: 100%;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: transform 1s 0s ease;
  }
}
.inventory__header .inventory__header-bottom {
  display: flex;
  justify-content: space-between;
  // gap: 2rem;

  p {
    input {
      all: unset;
      width: 3rem;
    }
  }
}

.header__bottom-weight {
  display: flex;
  align-items: center;
  // font-size: 1.5rem;
  // border: solid 1px red;

  img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.inventory__header-wealth,
.header__bottom-weight {
  p {
    margin: 0;
  }
}
.inventory__header .inventory__header-wealth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;

  .addmoney {
    padding: 0 0.5rem;
    height: 2rem;
    border: solid 1px black;
  }
}
.inventory__header
  .inventory__header-wealth
  .inventory__header-wealth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: 0.2rem;
}
.inventory__header
  .inventory__header-wealth
  .inventory__header-wealth-container
  img {
  height: 1.5rem;
  width: auto;
}

.inventory__header-wealth-container {
  &:nth-of-type(1) {
    input {
      width: clamp(3rem, 0.75rem + 10vw, 4.5rem);
    }
  }
  input {
    all: unset;
    width: clamp(1.5rem, -2.5rem + 17.778vw, 2.5rem);
    // font-size: 1.5rem;
  }
}
