.category__container{
    border-radius: .5rem;
    overflow: hidden;
}
.category__bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(2rem, 0.5rem + 6.667vw, 3rem);
    
    height: 3rem;

    &::before{
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background-image: url("./src/assets/category-frame.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }
    h2{
        margin: 0;
    }
}
.item__table {
  background-color: red;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
.item__description{
    text-align: left;
}
