.dropdown-transition{
    transform: translateY(-300%);
    
}
.item__dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .item__dropdown.expanded {
    max-height: 5000px;
  }