@forward "variables"; 
@forward "mixins"; 
@forward "transitions"; 
@forward "frame"; 
@forward "header"; 
@forward "item"; 
@forward "modal"; 
@forward "globales"; 


*{
    box-sizing: border-box;
    &:before, &:after {
        box-sizing: border-box;
      }
}
body {
    margin: 0;
    color: var(--color-black);

    background-image: url("./assets/stone-gb4.jpg");
    background-size: fixed;
  }
