@forward "transitions"; 
@forward "frame"; 
@forward "header"; 
@forward "item"; 
@forward "modal"; 

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #333;
    color: rgb(255, 255, 255);
  }
